body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ECF4E8;
    margin: 0;
}

.calculator{
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.calculator-screen{
    width: 100%;
    height: 80px;
    border: none;
    background-color: #CBF3BB;
    color: #93BFC7;
    text-align: right;
    padding: 20px;
    font-size: 2.5rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-sizing: border-box;
}

.calculator-keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 20px;
    background-color: #ABE7B2;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

button{
    height: 60px;
    border-radius: 5px;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

button:active{
    box-shadow: 0 5px #93BFC7;
    transform: translateY(4px);
}

.operator{
    background-color: #ECF4E8;
    color: #93BFC7;
}

.equal-sign{
    background-color: #ECF4E8;
    color: #93BFC7;
    grid-column: span 2;
}

.all-clear{
    background-color: #ECF4E8;
    color: #93BFC7;
}

.decimal{
    background-color: #93BFC7;
    color: #CBF3BB;
}

button:not(.operator):not(.equal-sign):not(.all-clear):not(.decimal){
    background-color: #CBF3BB;
    color: #93BFC7;
}